/*5 tags, 5 properties ea*/
body
{
    text-align: center;
}

#mid-up
{
    background-color: white;
}
p
{
    font-size: 20px;
}

.link
{
    font-size:25px;
    background-color: indigo;
}
footer
{
    font-family:Garamond
    text-decoration-thickness: 25%;
}
#human
{
    max-height: 30%;
    max-width: 30%;
}


